.dropdownList
{
  margin-right: 40px;
  margin-left: 10px;
}

.listLabel
{
  color: #000000;
  padding: 2px;
  border-radius: 3px;
  font-family: 'Noto Sans', sans-serif;
  font-size: 1.2em;
}

.listLabel:hover
{
  cursor: pointer;
  background-color: var(--neutral-color);
}

.listItems
{
  list-style: none;

  position: absolute;
  z-index: 50;

  padding: 10px;

  background-color: #ffffff;
  box-shadow: 0 2px 4px var(--shadow-color);
  border-radius: 4px;
  font-family: 'Noto Sans', sans-serif;
  font-size: 1.1em;

  transition: all 50ms linear;
}
