.propsPanel
{
  height: calc(30% - 16px);
  margin-top: 10px;

  border-top: 1px solid var(--neutral-color);
}

.colorPickerWrapper
{
  display: inline-block;
  width: 25px;
  height: 25px;

  border: 1px solid #000000;
  overflow: hidden;
  border-radius: 50%;

  margin-top: 5px;
  margin-left: 10px;
}

.colorPickerWrapper:hover
{
  cursor: pointer;
}

.colorPicker
{
  display: none;
}
