.item
{
  color: #000000;
}

.itemIcon,
.subItemIcon
{
  margin-left: 8px;
}

.nested
{
  width: 150px;
  list-style: none;

  position: absolute;
  z-index: 50;
  left: 50px;

  padding: 10px;

  background-color: #ffffff;
  border: 1px solid #000000;
  border-radius: 5px;
  font-family: 'Noto Sans', sans-serif;
  font-size: 1.1em;

}

.subItem
{
  color: #000000;
}
