.menu
{
  display: flex;
  margin-top: 5px;
  font-family: 'Nunito', sans-serif;
  font-size: 1.2em;
}

.item
{
  margin-right: 10px;
  margin-left: 10px;
}

.itemLabel
{
  padding: 2px;
  border-radius: 3px;
}

.itemLabel:hover
{
  cursor: pointer;
  background-color: #bebebe;
}
