.slidepanel
{
  width: 15%;
  border-right: 1px solid black;
}

.slidepanel__slideblock
{
  width: 60%;
  height: 15%;
  padding: 4% 16% 4% 24%;
  transition: 0.4s;
}

.slidepanel__slideblock:hover
{
  background: #fff2ab;
  transition: 0.4s;
}

/*.slideicon*/
/*{*/
/*  opacity: 0;*/
/*  display: block;*/
/*  margin-left: -30%;*/
/*  float: left;*/
/*  transition: 0.4s;*/
/*}*/

/*.slidepanel__slideblock:hover > .slideicon*/
/*{*/
/*  transition: 0.4s;*/
/*  opacity: 1;*/
/*}*/
