.b-slidepanel
{
    width: 25%;
    background-color: #fffede;
}

.b-slidepanel__slide
{
    width: 60%;
    height: 20%;
    padding: 4% 16% 4% 26%;
}

.b-slidepanel__slide::before
{
    fill: #d8b077;
    float: left;
    content: '';
    display: block ;
    background-image: url("./images/dots_orange.svg");
    background-size: 70%;
    background-repeat: no-repeat;
    margin-left: -40%;
    width: 40px;
    height: 40px;
}

.b-slidepanel__slide:hover
{
    background:#fff2ab;
}

.b-slidepanel__slide-thumbnail
{
    width: 98%;
    height: 87%;
    background-color: #fffede;
    border: 2px solid #d8b077;
}