.primitivePropertiesPanel
{
  list-style: none;
  display: flex;

  font-family: 'Noto Sans', sans-serif;
}

.panelElement
{
  margin: 0 10px 0;
}

.colorPickerWrapper
{
  composes: colorPickerWrapper from "../PropertiesPanel.module.css";
}

.colorPicker
{
  composes: colorPicker from "../PropertiesPanel.module.css";
}
