.primitivePropertiesPanel
{
  composes: textPropertiesPanel from "../TextPropertiesPanel/TextPropertiesPanel.module.css";
}

.panelElement
{
  composes: panelElement from "../TextPropertiesPanel/TextPropertiesPanel.module.css";
}

.selection
{
  composes: selection from "../TextPropertiesPanel/TextPropertiesPanel.module.css";
}

.colorPickerWrapper
{
  composes: colorPickerWrapper from "../PropertiesPanel.module.css";
}

.colorPicker
{
  composes: colorPicker from "../PropertiesPanel.module.css";
}
