.item
{
  composes: item from "../ActionButton/ActionButton.module.css";
}

.itemWrapper
{
  composes: itemWrapper from "../ActionButton/ActionButton.module.css";
}

.itemIcon,
.subItemIcon
{
  composes: itemIcon from "../ActionButton/ActionButton.module.css";
}

.submenuArrow
{
  display: inline-block;
  overflow: hidden;

  width: 0;
  height: 0;

  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid var(--neutral-color);

  margin-left: 5px;
}

.nested
{
  width: 180px;
  list-style: none;

  position: absolute;
  z-index: 50;
  left: 50px;

  padding: 10px;

  background-color: #ffffff;
  box-shadow: 0 2px 4px var(--shadow-color);
  border-radius: 4px;
  font-family: 'Noto Sans', sans-serif;

  transition: all 50ms linear;
}

.subItem
{
  color: #000000;
}
