.textPropertiesPanel
{
  list-style: none;
  display: flex;
  align-items: center;

  font-family: 'Noto Sans', sans-serif;
}

.panelElement
{
  display: flex;
  align-items: center;

  margin: 0 10px 0;
}

.selection
{
  display: block;
  width: 160px;
  margin-left: 10px;

  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;

  font-family: 'Noto Sans', sans-serif;
  border: 1px solid var(--border-color);
  border-radius: 4px;
}

.selection::-ms-expand
{
  display: none;
}

.selection:hover
{
  border-color: var(--shadow-color);
}

.selection:focus
{
  border-color: var(--accent-color1);
  outline: none;
}

.selection option
{
  font-weight: normal;
}

.styleButton
{
  padding: 3px 6px 3px;

  background: transparent;

  border: 1px solid var(--border-color);
  border-radius: 4px;
}

.styleButton:hover
{
  border-color: var(--shadow-color);
}

.styleButton:focus
{
  border-color: var(--accent-color1);
  outline: none;
}

.colorPickerWrapper
{
  composes: colorPickerWrapper from "../PropertiesPanel.module.css";
}

.colorPicker
{
  composes: colorPicker from "../PropertiesPanel.module.css";
}
