.textPropertiesPanel
{
  list-style: none;
  display: flex;

  font-family: 'Noto Sans', sans-serif;
}

.panelElement
{
  margin: 0 10px 0;
}

.fontSelection,
.sizeSelection
{
  width: 200px;

  font-family: 'Noto Sans', sans-serif;
}

.colorPicker
{
  width: 30px;
  height: 30px;

  border: none;
}
