.textPropertiesPanel
{
  list-style: none;
  display: flex;

  font-family: 'Noto Sans', sans-serif;
}

.panelElement
{
  margin: 0 10px 0;
  display: flex;
  align-items: center;
}

.fontSelection,
.sizeSelection
{
  width: 200px;

  font-family: 'Noto Sans', sans-serif;
}

.colorPickerWrapper
{
  composes: colorPickerWrapper from "../PropertiesPanel.module.css";
  margin-left: 10px;
}

.colorPicker
{
  composes: colorPicker from "../PropertiesPanel.module.css";
}
