.item
{
  color: #000000;
}

.itemWrapper
{
  padding: 3px 10px 3px;
  border-radius: 2px;
  margin: 3px 0 3px;
}

.itemWrapper:hover
{
  background-color: #f1f3f4;
  cursor: pointer;
}

.itemIcon
{
  vertical-align: bottom;

  margin-right: 5px;
}
