.title
{
  height: 30%;

  margin-top: 5px;
  padding: 3px;

  border: none;
  border-radius: 5px;

  vertical-align: center;
  font: 1.5em 'Noto Sans', sans-serif;
}

.title:hover,
.title:focus
{
  background-color: #bebebe;
  cursor: pointer;
}

.title:focus
{
  outline: #000000 solid 2px;
}
