.title
{
  position: relative;
  height: 35%;
}

.titleInput
{
  position: absolute;
  left: 0;
  top: 0;
  margin: 5px;
  padding: 1px 3px 1px;

  color: transparent;
  border: 1px solid transparent;
  background: transparent;
  caret-color: #000000;

  font: 1.4em 'Noto Sans', sans-serif;
}

.titleInput:hover
{
  border-color: #e5e5e5;
  cursor: text;
}

.titleInput:focus
{
  margin: 4px;
  border: 2px solid #1a73e8;
  border-radius: 4px;
}

.titlePlaceholder
{
  composes: titleInput;
  color: #000000;
  white-space: pre;
  pointer-events: none;
}
