.title
{
  height: 30%;

  margin: 5px;
  padding: 3px;

  border: 1px solid transparent;

  vertical-align: center;
  font: 1.5em 'Noto Sans', sans-serif;
}

.title:hover
{
  border-color: #e5e5e5;
  cursor: text;
}

.title:focus
{
  margin: 4px;
  border: 2px solid #1a73e8;
  border-radius: 4px;
}
